<h1>Listing recipes</h1>

<table>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr class='<%= cycle('list_line_odd','list_line_even') %>'>
        <td><%= image_tag(recipe.main_image_url, class: 'list_image') if recipe.main_image_url.present? %></td>
        <td class="list_description">
          <dl>
            <dt><%= recipe.name %> <%= recipe.display_time %></dt>
            <dd><%= truncate(strip_tags(recipe.description), length: 80) %></dd>
          </dl>
        </td>
        <td class="list_actions">
           <%= link_to 'Show', recipe %>
           <%= link_to 'Edit', edit_recipe_path(recipe) %>
           <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
         </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
