<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Main Image:</strong>
  <%= @recipe.main_image_url %>
</p>

<p>
  <strong>Original Source:</strong>
  <%= @recipe.original_source %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Prep time:</strong>
  <%= @recipe.prep_time %>
</p>

<p>
  <strong>Elapsed time:</strong>
  <%= @recipe.elapsed_time %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @recipe.equipment %>
</p>

<p> <strong>Steps:</strong> </p>
  <%= render partial: 'steps/step', collection: @recipe.steps if @recipe.steps.present? %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Recipes', recipes_path %>
