
  <% if @recipe.present? && !@recipe.new_record? %>
    <%= f.hidden_field :recipe_id, :value => @recipe.id %>
  <% else %>
  <div class="field">
    <%= f.label :recipe_id %><br>
    <%= f.select :recipe_id, Recipe.all %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, cols: 150, rows: 5  %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>

