<p>
  <strong>Recipe:</strong>
  <%= link_to @step.recipe.name, @step.recipe %>
</p>

<p>
  <strong>Order:</strong>
  <%= @step.order %>
</p>

<%= render :partial => 'step', :locals => {:step => @step} %>

<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Steps', steps_path %>
