<!DOCTYPE html>
<html>
<head>
  <title>Medievalcookbook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
  <div id="banner">
    Banner goes here
  </div>
  <div id="columns">
    <div id="navbar">
      <ul>
        <li>stuff</li>
        <li>here</li>
        <li>eventually</li>
      </ul>
    </div>
    <div id="main">
      <%= content_tag(:p, notice, id: 'notice') if notice %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
